@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(https://fonts.gstatic.com/s/greatvibes/v7/RWmMoKWR9v4ksMfaWd_JN9XFiaE.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  width: 100%;
}
.homepage > * {
  border: 1px solid red;
}
.homepage .nav-wrapper {
  width: 100%;
  height: 4rem;
  background-color: grey;
}
.homepage .home-header .homepage-hero {
  height: 80vh;
  background-image: url('../img/homepage-hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.homepage .home-content {
  padding: 0 1.5rem;
}
.homepage .home-content .highlight .img-highlight {
  height: 20rem;
  background-image: url('https://via.placeholder.com/500');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid blue;
}
.homepage .home-content .highlight .hide-mobile {
  display: none;
}
.homepage .home-content .featured .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;
}
.homepage .home-content .instagram .ig-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.5rem;
}
@media (min-width:500px) {
  .homepage .home-content .instagram .ig-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
