@font-face {
  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Alata Regular'), local('Alata-Regular'), url(https://fonts.gstatic.com/s/alata/v1/PbytFmztEwbIoce9zqM.ttf) format('truetype');
}
@font-face {
  font-family: 'IM Fell Great Primer';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IM FELL Great Primer Roman'), local('IM_FELL_Great_Primer_Roman'), url(https://fonts.gstatic.com/s/imfellgreatprimer/v9/bx6aNwSJtayYxOkbYFsT6hMsLzX7u85rJrrQtj4.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PT Mono'), local('PTMono-Regular'), url(https://fonts.gstatic.com/s/ptmono/v7/9oRONYoBnWILk-9AnC8zNg.ttf) format('truetype');
}
@font-face {
  font-family: 'Share Tech';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Share Tech Regular'), local('ShareTech-Regular'), url(https://fonts.gstatic.com/s/sharetech/v9/7cHtv4Uyi5K0OeZ7bohU8H0JnQ.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
h1 {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  margin: 0;
  text-align: center;
  font-family: Helvetica;
  font-size: 10rem;
  background: linear-gradient(45deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 2rem;
  font-family: 'PT Mono', monospace;
}
header {
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  top: 0;
  position: fixed;
  z-index: -1;
}
nav {
  display: flex;
  width: 100%;
  border-bottom: 2px solid;
  border-image: linear-gradient(45deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C) 1;
  font-family: 'IM Fell Great Primer', serif;
  position: fixed;
  top: 0;
}
nav .left {
  display: flex;
  justify-items: flex-start;
  margin-left: 2em;
}
nav .right {
  display: flex;
  justify-items: space-between;
  margin-left: auto;
  margin-right: 2em;
}
nav a {
  margin: 1rem 1.5rem;
  text-decoration: none;
  color: #F0F0D0;
  font-size: 2.25rem;
  text-shadow: -1px -1px 0 #666, 1px -1px 0 #666, -1px 1px 0 #666, 1px 1px 0 #666;
}
footer {
  width: 100%;
  height: 20rem;
  background: #F0F0D0;
  bottom: -20rem;
  position: fixed;
  z-index: -1;
}
footer h1 {
  line-height: 20rem;
}
.content {
  min-height: 1000px;
  background: #F6F7F8;
  position: relative;
  z-index: 1;
}
section {
  display: flex;
  justify-content: center;
  flex: 0 0 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}
section .banner {
  margin-top: 40rem;
  color: #F0F0D0;
  text-shadow: -1px -1px 0 #666, 1px -1px 0 #666, -1px 1px 0 #666, 1px 1px 0 #666;
  width: 65%;
}
@media (max-width: 500px) {
  section .banner {
    width: 85%;
  }
}
@media (max-width: 800px) {
  section .banner {
    width: 75%;
  }
}
section .person {
  margin: 1rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /*
    &:hover {
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2);
    }
    */
}
section .person img {
  position: relative;
  float: left;
  max-width: 100%;
  max-height: 40rem;
  object-fit: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
section .person .container {
  padding: 1rem 1rem 1rem 0;
  margin: 1rem 1rem 1rem 0;
}
section .person .container h3 {
  margin: 0.5rem 0;
  font-size: 3rem;
  font-family: 'IM Fell Great Primer', serif;
}
section .person .container h4 {
  margin: 0.3rem 0;
  font-size: 2.5rem;
  font-family: 'Share Tech', sans-serif;
}
section .person .container p {
  font-size: 2rem;
  font-family: 'PT Mono', monospace;
}
@media (max-width: 500px) {
  section .person {
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /*
    &:hover {
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2);
    }
    */
  }
  section .person img {
    position: relative;
    float: left;
    max-width: 100%;
    max-height: 40rem;
    object-fit: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  section .person .container {
    padding: 1rem 1rem 1rem 0;
    margin: 1rem 1rem 1rem 0;
  }
  section .person .container h3 {
    margin: 0.5rem 0;
    font-size: 3rem;
    font-family: 'IM Fell Great Primer', serif;
  }
  section .person .container h4 {
    margin: 0.3rem 0;
    font-size: 2.5rem;
    font-family: 'Share Tech', sans-serif;
  }
  section .person .container p {
    font-size: 2rem;
    font-family: 'PT Mono', monospace;
  }
}
@media (max-width: 800px) {
  section .person {
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /*
    &:hover {
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2);
    }
    */
  }
  section .person img {
    position: relative;
    float: left;
    max-width: 100%;
    max-height: 40rem;
    object-fit: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  section .person .container {
    padding: 1rem 1rem 1rem 0;
    margin: 1rem 1rem 1rem 0;
  }
  section .person .container h3 {
    margin: 0.5rem 0;
    font-size: 3rem;
    font-family: 'IM Fell Great Primer', serif;
  }
  section .person .container h4 {
    margin: 0.3rem 0;
    font-size: 2.5rem;
    font-family: 'Share Tech', sans-serif;
  }
  section .person .container p {
    font-size: 2rem;
    font-family: 'PT Mono', monospace;
  }
}
#scroll-animate {
  overflow: hidden;
}
#scroll-animate-main {
  width: 100%;
  left: 0;
  position: fixed;
}
#heightPage,
#heightScroll {
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}
#heightPage {
  left: 0;
}
#heightScroll {
  right: 0;
}
.wrapper-parallax {
  margin-top: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
header,
footer,
#scroll-animate-main {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}
