@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(https://fonts.gstatic.com/s/greatvibes/v7/RWmMoKWR9v4ksMfaWd_JN9XFiaE.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h1 {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  margin: 0;
  text-align: center;
  font-family: Helvetica;
  font-size: 10rem;
  background: linear-gradient(45deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
/*
  .container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;  
  }
  */
header {
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  top: 0;
  position: fixed;
  z-index: -1;
}
nav {
  display: flex;
  width: 100%;
  border-bottom: 2px solid;
  border-image: linear-gradient(45deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C) 1;
  font-family: 'Great Vibes', cursive;
  position: fixed;
  top: 0;
}
nav .left {
  display: flex;
  justify-items: flex-start;
  margin-left: 2em;
}
nav .right {
  display: flex;
  justify-items: space-between;
  margin-left: auto;
  margin-right: 2em;
}
nav a {
  margin: 1rem 1.5rem;
  text-decoration: none;
  color: #F0F0D0;
  font-size: 2.25rem;
  text-shadow: -1px -1px 0 #666, 1px -1px 0 #666, -1px 1px 0 #666, 1px 1px 0 #666;
}
footer {
  width: 100%;
  height: 300px;
  background: #fff;
  bottom: -300px;
  position: fixed;
  z-index: -1;
}
footer h1 {
  line-height: 300px;
}
.content {
  min-height: 1000px;
  background: #F0F0D0;
  position: relative;
  z-index: 1;
}
.content h1 {
  color: #999;
}
section {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  flex: 0 0 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  /*
    .column {
        flex-direction: column;
        
        .person-container {
            display: flex;
            width: 100%;
            justify-content: center;
            padding: 2rem;
    
            .person {
                padding: 2rem;
                margin: 0 auto;
                border: 1px solid;
                border-image: @thaGold 1;
                font-family: @written;
                background: @darker;
                width: 75rem;
                display: flex;
                .person-photo {
                    display: inline-block;
                    position: relative;
                    width: 140px;
                    height: 140px;
                    overflow: hidden;
                    border-radius: 50%;
                    z-index: -1;
    
                    img {
                        width: auto;
                        height: 100%;
                        margin-left: -25px;
                    }
                }
                
                .person-name {
                    
                }
        
                .person-text {
        
                }
        
                .person-list {
        
                }
                
            }
        }
    }
    */
}
section .banner {
  margin-top: 10rem;
  background: #F0F0D0;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 60%;
}
section .banner img {
  width: 100%;
}
section .banner .container {
  padding: 1rem 2rem;
}
section .banner .container h1 {
  font-family: 'Great Vibes', cursive;
}
section .banner .container p {
  font-size: 2rem;
  font-family: 'PT Mono', monospace;
}
section .bannerhover {
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 500px) {
  section .banner {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80%;
  }
  section .banner img {
    width: 100%;
  }
  section .banner .container {
    padding: 1rem 2rem;
  }
  section .banner .container h1 {
    font-family: 'Great Vibes', cursive;
  }
  section .banner .container p {
    font-size: 2rem;
    font-family: 'PT Mono', monospace;
  }
  section .bannerhover {
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 800px) {
  section .banner {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 70%;
  }
  section .banner img {
    width: 100%;
  }
  section .banner .container {
    padding: 1rem 2rem;
  }
  section .banner .container h1 {
    font-family: 'Great Vibes', cursive;
  }
  section .banner .container p {
    font-size: 2rem;
    font-family: 'PT Mono', monospace;
  }
  section .bannerhover {
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
  }
}
section .person {
  margin: 1rem;
  background: #F6F7F8;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
}
section .person img {
  width: 100%;
}
section .person .container {
  padding: 1rem 2rem;
}
section .person .container h1 {
  font-family: 'Great Vibes', cursive;
}
section .person .container p {
  font-size: 2rem;
  font-family: 'PT Mono', monospace;
}
section .personhover {
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 500px) {
  section .person {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 90%;
  }
  section .person img {
    width: 100%;
  }
  section .person .container {
    padding: 1rem 2rem;
  }
  section .person .container h1 {
    font-family: 'Great Vibes', cursive;
  }
  section .person .container p {
    font-size: 2rem;
    font-family: 'PT Mono', monospace;
  }
  section .personhover {
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 800px) {
  section .person {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
  }
  section .person img {
    width: 100%;
  }
  section .person .container {
    padding: 1rem 2rem;
  }
  section .person .container h1 {
    font-family: 'Great Vibes', cursive;
  }
  section .person .container p {
    font-size: 2rem;
    font-family: 'PT Mono', monospace;
  }
  section .personhover {
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
  }
}
#scroll-animate {
  overflow: hidden;
}
#scroll-animate-main {
  width: 100%;
  left: 0;
  position: fixed;
}
#heightPage,
#heightScroll {
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}
#heightPage {
  left: 0;
}
#heightScroll {
  right: 0;
}
.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
header,
footer,
#scroll-animate-main {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}
