.content
{
  min-height: 1000px;
  background: @cream;
  position: relative;
  z-index: 1;
}

section {
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    flex: 0 0 100%;
    margin: 0 auto;
    flex-wrap: wrap;

    .banner {
        margin-top: 10rem;
        background: @cream;
        .card(60%);

        @media @phone {
            .card(80%);
        }

        @media @tablet {
            .card(70%);
        }
    }

    .person {
        margin: 1rem;
        background: @porcelain;
        .card(20%);

        @media @phone {
            .card(90%);
        }

        @media @tablet {
            .card(40%);
        }
    }
}