@ipad: ~'(min-width:500px)';
@laptop: ~'(min-width:800px)';
@sm: 0.5rem;
@md: 1.5rem;
@lg: 3rem;
@xl: 6rem;

img { width: 100%; }

.flexbox() {
  display: flex;
  flex-flow: row wrap;
}
.sans() {
  font-family: @sans;
}
.serif() {
  font-family: @serif;
}
// Homepage Styles
.homepage {

  h1,h2,h3,h4,p,a {
    line-height: 1.25;
    margin-bottom: @sm;
  }
  h1,h2,h3,h4 {
    .serif();
    // font-weight: 600;
  }
  h1 {font-size: 3rem;}
  h2 {font-size: 2.5rem;}
  h3 {font-size: 2rem;}
  h4,p,address {font-size: 1.5rem;}
  p,address {.sans();}
  a {
    .sans();
    font-size: 1rem;
  }
  i {font-style: italic;}
  @media @ipad {
    h1 {font-size: 3.5rem;}
    h2 {font-size: 3rem;}
    h3 {font-size: 2.5rem;}
    h4,p,address {font-size: 2rem;}
    a {font-size: 1.5rem;}
  }

  section {
    display: block;
    justify-content: unset;
    flex: none;
    flex-wrap: unset;
    margin-bottom: @md;
    @media @ipad {
      margin-bottom: @lg;
    }
  }

  .btn(@color: black; @bg: white; @pd: 1rem 2.5rem) {
    display: inline-block;
    color: @color;
    background-color: @bg;
    padding: @pd;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 1px solid black;
    text-decoration: none;
  }

  

  .nav-wrapper {
    width: 100%;
    height: @xl;
    background-color: grey;
  } // .nav-wrapper

  .home-header {
    margin-bottom: @md;
    text-align: center;

    .subtitle {
      margin: 0 auto;
      padding: @md;
      
      @media @ipad {
        max-width: 75%;
      }
      @media @laptop {
        max-width: 65%;
      }
    } // .subtitle

    .homepage-hero {
      width: 100%;
      height: 80vh;
      background-image: url("../img/homepage-hero.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  } // .home-header

  .home-content {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 @md;

    .highlight {

      @media @ipad {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: @sm;
        grid-column-gap: @sm;
      }

      .highlight-text {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin-bottom: @md;

        @media @ipad {
          align-self: center;
        }

        h4 { .sans(); letter-spacing: 1px; }
      }
      .img-highlight {
        height: 30rem;
        background-image: url('https://via.placeholder.com/500');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: @md;

        @media @ipad {
          margin-bottom: 0;
        }
      } // .img-highlight

      .hide-mobile{
        display: none;

        @media @ipad {
          display: inline-block;
        }
      }

      .highlight-cta {
        background-color: #efefef;
        padding: @lg;
        text-align: center;

        @media @ipad {
          align-self: center;
          background-color: #fff;
        }

        h3 {
          margin-bottom: @md;
        }

        .button {
          .btn();
        }
      } // .hightlight-cta
    } // .highlight


    .featured {
      h2 {
        text-align: center;
        margin-bottom: @md;
      }
      .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: @md;
        grid-column-gap: @md;

        @media @ipad {
          grid-template-columns: repeat(3, 1fr);
        }
        
        .wedding-card {

          .img-card {
            margin-bottom: @sm;
          } // .img-card
          .button {
            .btn(@color:white;@bg:black;@pd: .5rem 1rem);
          }
        } // .wedding-card
      } // .cards
    } // .featured

    .instagram {
      margin-bottom: @lg;

      h2 {
        text-align: center;
        margin-bottom: @md;
      }

      .ig-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 2px;
        grid-column-gap: 2px;
        
        @media @ipad {
          grid-template-columns: repeat(3, 1fr);
        }

        @media @laptop {
          grid-template-columns: repeat(6, 1fr);
        }
      } // .ig-wrapper
    } // .instagram

    .home-footer {
      border-top: 1px solid black;
      padding: @md 0 @lg;
      text-align: center;

      h3 {font-weight:600; margin-bottom:@md;}
      address {margin-bottom:@md;}
    } // .home-footer
  } // .home-content

} // .homepage