img { width: 100%; }

@ipad: ~'(min-width:500px)';
@laptop: ~'(min-width:800px)';

.flexbox(){
  display: flex;
  flex-flow: row wrap;
}

// Homepage Styles
.homepage {
  & > * {
    border:1px solid red;
  }

  .nav-wrapper {
    width: 100%;
    height: 4rem;
    background-color: grey;
  } // .nav-wrapper

  .home-header {

    .homepage-hero {
      height: 80vh;
      background-image: url('../img/homepage-hero.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  } // .home-header

  .home-content {
    padding: 0 1.5rem;

    .highlight {

      .img-highlight {
        height: 20rem;
        background-image: url('https://via.placeholder.com/500');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid blue;
      } // .img-highlight
      .hide-mobile{
        display: none;
      }
    } // .highlight


    .featured {

      .cards {
        .flexbox();
        justify-content: space-between;
        .wedding-card {
          flex: 0 47.5%;

          .img-card {
            border: 1px solid blue;
          } // .img-card
        } // .wedding-card
      } // .cards
    } // .featured

    .instagram {

      .ig-wrapper {
        .flexbox();
        justify-content: space-between;

        .ig {
          flex: 0 49.5%;
          border: 1px solid blue;

          @media @ipad {
            flex: 0 33%;
          }
        } // .ig
      } // .ig-wrapper
    } // .instagram

    .home-footer {

    } // .home-footer
  } // .home-content

} // .homepage